.container {
  height: 100%;
}

.loginRegisterImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.loginRegisterForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  color: brown;
  font-weight: bold;
  margin-bottom: 5px;
}
