.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-ocean-blue);
}

.menu {
  width: 100%;
  justify-content: flex-end;
  background-color: var(--color-ocean-blue);
}

.logo img {
  height: 50px;
  object-position: center;
  margin-top: 25px;
}
