.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-ocean-blue);
}

.menu {
  width: 100%;
  justify-content: flex-end;
  background-color: var(--color-ocean-blue);
}

#root {
  .navItem {
    color: var(--color-cloud-white);
    font-weight: bold;
  }

  .navItem :hover {
    color: var(--color-cloud-white);
    font-weight: bold;
  }
}

.logo img {
  height: 50px;
  object-position: center;
  margin-top: 25px;
}
