#root {
  .layout {
    min-height: 100vh;
  }

  .siderUserProfile {
    padding: 16px;
    background-color: #f0f2f5;
  }

  .userProfileBtn {
    margin: 8px 0;
    display: block;
    width: 100%;
  }

  .contentUserProfilePageContainer {
    margin: 24px 16px 0;
  }

  .contentUserProfilePageDiv {
    padding: 24px;
    background-color: #fff;
    min-height: 360px;
  }
}
