#root {
  .layout {
    min-height: 100vh;
  }

  .contentUserProfilePageContainer {
    margin: 24px 16px 0;
  }

  .contentUserProfilePageDiv {
    padding: 24px;
    background-color: #fff;
    min-height: 360px;
  }
}
