#root {
  .layout {
    min-height: 100vh;
  }

  .siderContainer {
    padding: 16px;
    background-color: #ffffff;
  }

  .contentTripDetailsContainer {
    margin: 24px 16px 0;
  }

  .contentTripDetailsDiv {
    padding: 24px;
    background-color: #fff;
    min-height: 360px;
  }
}
