.menu {
  height: 100%;
  border-right: 0;
}

.sider {
  background: "#fff";
}

.contentTripDetailsContainer {
  margin: 24px 16px 0;
}

.contentTripDetailsDiv {
  padding: 24px;
  background-color: #fff;
  min-height: 360px;
}
