#root {
  .layout {
    min-height: 100vh;
  }

  .siderContainer {
    padding: 16px;
    background-color: #ffffff;
  }

  .sider {
    padding: 16px;
    background-color: #ffffff;
  }

  .anchor {
    height: 100%;
    border-right: 0;
  }

  .editBtn {
    margin: 16px 0;
    display: block;
    width: 100%;
  }

  .contentTripDetailsContainer {
    margin: 24px 16px 0;
  }

  .contentTripDetailsDiv {
    padding: 24px;
    background-color: #fff;
    min-height: 360px;
  }
}
