:root {
  --color-ocean-blue: #007bff;
  --color-sunset-orange: #f0b237;
  --color-earthy-orange: #e28743;
  --color-sandy-beige: #f5deb3;
  --color-forest-green: #228b22;
  --color-earthy-brown: #8b4513;
  --color-cloud-white: #ffffff;
  --color-mountain-gray: #808080;
  --color-golden-yellow: #ffd700;
  --color-emerald-green: #50c878;
  --font-title: "Lobster", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

#root {
  .headerLevel1 {
    font-family: "Lobster";
    font-size: 70px;
    color: var(--color-cloud-white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .headerLevel2 {
    font-family: "Lobster";
    color: var(--color-sunset-orange);
  }
}
