.FeatureSectionContainer {
  padding: 40px;
  background: #f0f0f0;
}

.FeatureSectionTitle {
  text-align: center;
  padding: 16px;
}

.featureCard {
  text-align: center;
}

.featureIcon {
  font-size: 48px;
  padding: 20px;
}

.featurePresentationText {
  font-size: 20px;
  padding: 10px;
}
